body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
        background-color: #fff;
        text-align: center;
    }

    h1 {
        margin-bottom: 30px;
        font-size: 40px;
        font-weight: bold;
    }

    .container {
        display: flex;
        justify-content: center;
        gap: 40px;
        flex-wrap: wrap;
    }

    .card {
        width: 280px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        padding: 20px;
    }

    .card img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        color: #444;
    }

    .desc {
        font-size: 14px;
        margin: 10px 0;
        color: #333;
        line-height: 1.4;
    }

    .price {
        color: green;
        font-size: 20px;
        font-weight: bold;
        margin: 10px 0;
    }

    .btn {
        background: purple;
        color: white;
        padding: 10px 25px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
    }

    .btn:hover {
        background: rgb(90, 0, 150);
    }